<!DOCTYPE html>
<html>
<head>
<title>Upload Photo</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 text-center">

<h1 class="text-4xl font-bold mt-20 mb-10">
Upload Your Photo
</h1>

<form action="/analyze" method="post" enctype="multipart/form-data">

<label>
<input type="radio" name="gender" value="Male" required> Male
</label>

<label class="ml-5">
<input type="radio" name="gender" value="Female"> Female
</label>

<br><br>

<input type="file" name="photo" required>

<br><br>

<button class="bg-pink-500 text-white px-6 py-2 rounded">
Analyze Style
</button>

</form>

</body>
</html>